[submodule "themes/sam"]
	path = themes/sam
	url = https://github.com/vickylai/hugo-theme-sam.git
[submodule "themes/hugo-split-theme"]
	path = themes/hugo-split-theme
	url = https://github.com/escalate/hugo-split-theme.git
